<!DOCTYPE html>
<html>
<head>
	<title>Drowsiness Detection System</title>
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
 
      
</head>
<body>
    <div class="div-head">
        <h1>DROWSINESS DETECTION</h1>
        <div class="jumbotron jumb-width">
              <p class="lead">Whether it’s due to medication, a sleep disorder or a poor night’s rest, new research points to the risks and potential dangers of drowsy driving. Missing one to two hours of the recommended seven hours of sleep a night nearly doubles the risk of a car accident.Sleepiness can come without warning, so drivers should prioritize getting enough sleep and avoid driving when they are fatigued.</p>
              <hr class="my-4">
              <p class="lead">The best drivers are aware that they must be beware.</p>
              <form method="post" action="/start">
                  <input type="submit" class="btn btn-outline-warning btn-lg" value="Start" name="Start"/>
            </form>
        </div>
       </div>


</body>
</html>
